#noise-pad {
	display: inline-block;
	background: lightgray;
	width: 500px;
	height: 500px;
	cursor: default;
}
#noise-pad:active {
	background: gray;
}
button {
	background: none;
	outline: none;
	border: none;
}
.key {
	display: inline-block;
	width: 50px;
	height: 150px;
	border: 1px solid black;
}
.white.key {
	background: white;
}
.black.key {
	background: black;
}

.key:active {
	background: lightgray;
}