@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700);
body {
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 12px;
	background: #222;
	color: #eee;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container {
	position: relative;
	height: 100vh;
}
header {
	position: relative;
	line-height: 1.5em;
	padding: 1em 0;
	background: #383838;
	font-size: 16px;
}
h1, h2 {
	font-weight: 700;
	margin: 0;
	text-align: center;
}
h2 {
	margin-bottom: 0.2em;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: #7a7a7a;
}
.login-save-load {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	margin-left: 1em;
}
.login-save-load div {
	display: inline-block;
}
.fb-login-button.fb_iframe_widget {
	top: -4px;
}
.about-link {
	position: absolute;
	right: 1em;
	top: 50%;
	transform: translateY(-50%);
	font-size: 
}
button {
	background: none;
	outline: none;
	border: none;
}
section {
	/*background: url(http://images.naldzgraphics.net/2014/08/20-brushed-seamless-texture.jpg) no-repeat;*/
	background: #383838;
	padding: 1em;
	border-radius: 3px;
	margin-bottom: 2em;
}
div.controls {
	height: 63vh;
}
.hide {
	display: none;
}
div.control {
	display: inline-block;
	border: 1px solid #777;
	border-radius: 2px;
	padding: 0.2em;
	margin: 0.5em 0.2em 0.1em 0.2em;
	text-align: center;
}
section.amp {
	height: 35%;
}
#status {
	font-size: 1.3em;
	background: url('/img/grid1.png') #253333;
	border-radius: 3px;
	position: relative;
	box-sizing: border-box;
	padding: 0.5em 1em;
	width: 100%;
	color: #99D2D2;
	text-shadow: 0 0 3px #99D2D2;
	height: 2em;
	letter-spacing: 0.07em;
	margin-bottom: 1em;
}
.col {
	display: inline-block;
	width: 31vw;
	height: 100%;
	margin: 0 0.8em;
	box-sizing: border-box;
	vertical-align: top;
}
label {
	font-weight: 300;
}
div.control label {
	display: block;
	text-align: center;
}
.envelope {
	position: relative;
	height: 9em;
	margin-bottom: -0.5em;
}
.envelope .control {
	height: 85%;
}
input[type="range"].vertical {
	transform: rotate(270deg) translateY(-50%);
	position: absolute;
	width: 7em;
	top: 50%;
	margin-left: -3em;
}
.knob {
	font-family: sans-serif;
	font-weight: 800;
	border-radius: 50%;
	background: #eee;
	color: #7a7a7a;
	display: inline-block;
	height: 35px;
	width: 35px;
	padding: 1px;
	margin: 0.2em;
	vertical-align: center;
	cursor: ns-resize;
	border: 1px solid #7a7a7a;
	box-shadow: 0 0 5px #7a7a7a;
	text-align: center;
	text-shadow: 0 0 3px #222;
}
.knob:hover {
	background: #B8E0E0;
	box-shadow: 0 0 20px #B8E0E0;
}
.knob:active {
	box-shadow: 0 0 20px #B8E0E0;
	background: #c0c0c0;
}
select {
	outline: none;
	border: none;
	font-size: 1em;
	width: 8em;
}
.meter-container {
	height: 1em;
	background-color: #333;
}
.meter {
	height: 100%;
	background: #29A629;
	width: 100%;
	transition: width 0.01s;
	/*background: #E60000;*/
}

#keyboard {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20vh;
}

