<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Final?</title>
	<link rel="stylesheet" href="css/style.css">
	<script type="text/javascript" src="script/tone.js"></script>
	<script type="text/javascript" src="underscore/underscore.js"></script>
</head>
<body>

	<script type="text/template" id="oscillator-template">
		<% for (var key in synth) { %>
			<% if (key.slice(0,3) === "osc") { %>
				<section class="osc <%= key %>">
				<h2>Oscillator <%= key.slice(3,4) %></h2>
				<label>Waveform</label>
				<select name="osc-type" data-area="<%= key %>">
					<% ["sine", "square", "triangle", "sawtooth", "pulse", "pwm"].forEach(function(waveType) { %>
						<option value="<%= waveType %>">
							<%= waveType.slice(0,1).toUpperCase() + waveType.slice(1) %>
						</option>
					<% }) %>
				</select>
				<label>Level</label>
				<div class="knob" style="transform: rotate(-135deg);" data-area="<%= key %>" data-control="volume" data-min="-99" data-max="0" data-basevalue="-99" data-scale="linear" data-units="dB" data-origin="-135">&deg;</div><br>
				<label>Detune</label>
				<div class="knob" style="transform: rotate(0deg);" data-area="<%= key %>" data-control="detune" data-min="-100" data-max="100" data-basevalue="0" data-scale="linear" data-units="cents" data-origin="0">&deg;</div><br>
			<% } %>
		<% } %>
	</script>

	<div class="controls">
		<div class="col" id="oscillators">
			<section class="osc one">
				<h2>Oscillator 1</h2>
				<label>Waveform</label>
				<select name="osc-type" data-area="osc0">
					<option value="sine" selected>Sine Wave</option>
					<option value="sawtooth">Sawtooth Wave</option>
					<option value="square">Square Wave</option>
					<option value="triangle">Triangle Wave</option>
					<option value="pulse">Pulse Wave</option>
					<option value="pwm">Pulse Width Modulation</option>
				</select><br>
				<label>Level</label>
				<div class="knob" style="transform: rotate(-135deg);" data-area="osc0" data-control="volume" data-min="-99" data-max="0" data-basevalue="-99" data-scale="linear" data-units="dB" data-origin="-135">&deg;</div><br>
				<label>Detune</label>
				<div class="knob" style="transform: rotate(0deg);" data-area="osc0" data-control="detune" data-min="-100" data-max="100" data-basevalue="0" data-scale="linear" data-units="cents" data-origin="0">&deg;</div><br>
			</section>

			<section class="osc two">
				<h2>Oscillator 2</h2>
				<label>Waveform</label>
				<select name="osc-type" data-area="osc1">
					<option value="sine" selected>Sine Wave</option>
					<option value="sawtooth">Sawtooth Wave</option>
					<option value="square">Square Wave</option>
					<option value="triangle">Triangle Wave</option>
					<option value="pulse">Pulse Wave</option>
					<option value="pwm">Pulse Width Modulation</option>
				</select><br>
				<label>Level</label>
				<div class="knob" style="transform: rotate(-135deg);" data-area="osc1" data-control="volume" data-min="-99" data-max="0" data-basevalue="-99" data-scale="linear" data-units="dB" data-origin="-135">&deg;</div><br>
				<label>Detune</label>
				<div class="knob" style="transform: rotate(0deg);" data-area="osc1" data-control="detune" data-min="-100" data-max="100" data-basevalue="0" data-scale="linear" data-units="cents" data-origin="0">&deg;</div><br>
			</section>

			<section class="osc three">
				<h2>Oscillator 3</h2>
				<label>Waveform</label>
				<select name="osc-type" data-area="osc2">
					<option value="sine" selected>Sine Wave</option>
					<option value="sawtooth">Sawtooth Wave</option>
					<option value="square">Square Wave</option>
					<option value="triangle">Triangle Wave</option>
					<option value="pulse">Pulse Wave</option>
					<option value="pwm">Pulse Width Modulation</option>
				</select><br>
				<label>Level</label>
				<div class="knob" style="transform: rotate(-135deg);" data-area="osc2" data-control="volume" data-min="-99" data-max="0" data-basevalue="-99" data-scale="linear" data-units="dB" data-origin="-135">&deg;</div><br>
				<label>Detune</label>
				<div class="knob" style="transform: rotate(0deg);" data-area="osc2" data-control="detune" data-min="-100" data-max="100" data-basevalue="0" data-scale="linear" data-units="cents" data-origin="0">&deg;</div><br>
			</section>
		</div>

		<div class="col" id="filter-amp">
			<section class="filter" data-area="filter">
				<h2>Filter</h2>
				<label>Type</label>
				<select data-area="filter" name="type">
					<option value="lowpass">Lowpass</option>
					<option value="highpass">Highpass</option>
					<option value="bandpass">Bandpass</option>
					<option value="lowshelf">Lowpass</option>
					<option value="highshelf">Highshelf</option>
					<option value="notch">Notch</option>
					<option value="allpass">Allpass</option>
					<option value="peaking">Peaking</option>
				</select><br>
				<label>Cutoff</label>
				<div class="knob big" style="transform: rotate(135deg);" data-area="filter" data-control="frequency" data-min="20" data-max="20000" data-basevalue="20000" data-scale="log" data-units="hz" data-origin="135">&deg;</div>
				<label>Q</label>
				<div class="knob big" style="transform: rotate(-135deg);" data-area="filter" data-control="Q" data-min="0" data-max="16" data-basevalue="0" data-scale="linear" data-units="" data-origin="-135">&deg;</div><br>
				<div class="adsr">
					<label>Attack</label>
					<input class="vertical" height="50px" width="10px" data-area="filterEnvelope" type="range" name="attack" min="0" max="2" step="0.005">
					<label>Decay</label>
					<input class="vertical" height="50px" width="10px" data-area="filterEnvelope" type="range" name="decay" min="0" max="2" step="0.005">
					<label>Sustain</label>
					<input class="vertical" height="50px" width="10px" data-area="filterEnvelope" type="range" name="sustain" min="0" max="1" step="0.005">
					<label>Release</label>
					<input class="vertical" height="50px" width="10px" data-area="filterEnvelope" type="range" name="release" min="0" max="2" step="0.005">
					<label>Amount</label>
					<input class="vertical" height="50px" width="10px" data-area="filterEnvelope" type="range" name="exponent" min="0" max="10" step="0.005">
				</div>
				
			</section>
		</div>
	</div>

	<div id="keyboard">
	</div>
	
	<script type="text/javascript" src="script/knob.js"></script>
	<script type="text/javascript" src="script/polyosc.js"></script>
	<script type="text/javascript" src="qwerty-hancock/src/qwerty-hancock.js"></script>
	<script type="text/javascript" src="script/main.js"></script>
</body>
</html>